<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <input ng-model="query" placeholder="Search">
      Sort By: 
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Age</option>
        <option value="team">Team</option>
      </select>
      <input type="button" ng-click="startSimulation()" value="Play Fantasy!">
      <input type="button" ng-click="killSimulation()" value="Stop Sim">
       <input type="button" ng-click="resetSimulation()" value="Reset Fantasy Sim">

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="players">
        <li ng-repeat="player in players | filter:query | orderBy:orderProp"
            class="thumbnail player-listing">
          <a href="#/players/{{player.id}}" class="thumb"><img ng-src="{{player.imageUrl}}"></a>
          <a href="#/players/{{player.id}}">{{player.name}}</a>
          <p>Age: {{ player.age }}, Score: {{ player.score.toFixed(2) }}</p>
          <p>{{player.snippet}}</p>
        </li>
      </ul>

      <div class="score"> 
        <h3>Total Score: {{score.toFixed(2)}}</h3>
      </div>

    </div>
  </div>
</div>
